@model Garage2.Models.ParkedVehicle

<h2>Your vehicle is checked in!</h2>

<p>Vechicle with registration number  <strong>@Model.RegistrationNumber</strong> is checked in.</p>
<p><strong>Type:</strong> @Model.VehicleType</p>
<p><strong>Arrival:</strong> @Model.ArrivalTime.ToString("yyyy-MM-dd HH:mm")</p>

<a asp-action="Index" class="btn btn-secondary">Back to overview</a>
