@{
    ViewData["Title"] = "Garage 2.0";
}

<div class="animate-fadeIn flex h-dvh flex-col items-center justify-center text-center">
    <h1 class="mb-6 text-4xl font-bold">
        Welcome to DAJS Garage
    </h1>


    <a asp-controller="ParkedVehicles" asp-action="CheckIn" class="mt-4 rounded-lg bg-indigo-600 px-8 py-4 text-xl text-white transition duration-1000 hover:bg-gray-700">
        Park your vehicle
    </a>
</div>



