@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="my-10 mx-auto max-w-md text-center">
    <h1 class="mb-6 text-3xl font-bold">@ViewData["Title"]</h1>

    <p class="mb-4 text-lg">Use this page to detail your site's privacy policy.</p>

    <p class="mb-4 text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa.
    </p>

    <p class="mb-4 text-lg">
        Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus. Praesent et orci at ligula feugiat finibus. Nullam commodo, velit at scelerisque mattis, nisi arcu aliquet odio, vitae auctor felis turpis in nisl.
    </p>
</div>
